<%- include('./partials/head') %>

<h2>Students</h2>
<ul>
  <% persons.forEach(person => { %>
    <li>
      <section class="name of person">
        <h1><%= person.name %></h1>
        <img src="<%= person.avatar %>" alt="avatar van een student">
        <p><%= person.bio %></p>
      </section>
    </li>
  <% }) %>
</ul>

<%- include('./partials/foot') %>

<li>
  <section class="name of person">
    <h1><%= person.name %></h1>
    <img src="<%= person.avatar %>" alt="avatar van een student">
    <p><%= person.bio %></p>
  </section>
</li>

</body>
</html>